@import "tailwindcss";

@import "uploadthing/tw/v4";
@source "../../node_modules/@uploadthing/react/dist"; /** <-- depends on your project structure */

@theme {
  --font-serif: "Frank Ruhl Libre", "sans-serif";
}
