@import "tailwindcss";

@source "../../node_modules/@baygull/ui";

@custom-variant dark (&:where(.dark, .dark *));
@plugin "tailwindcss-animate";

@theme {
  --font-serif: "Frank Ruhl Libre", "sans-serif";
  --font-sans: "Inter";
}

.ProseMirror {
  height: 60vh;
}
